
@{
    Layout = null;
}
<div id="listCategories" >
        <div class="col-md-4" >
            <div class="portlet box red-sunglo">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Древо категорий
                    </div>
                </div>
                <div class="portlet box red-sunglo">
                    <div class="portlet-body">
                        <ul style="list-style-type:none;">
                            @foreach (var element in Services.PostServices.GetCategories())
                             {
                                <li>
                                    <h3> <a data-toggle="modal" data-target="#changeNamePareant"  style="text-decoration: none; " class="changeNamePareant" alt="@element.Name"> <i class="fa fa-cogs" title="Редактировать категорию"></i>  @element.Name</a> <a data-toggle="modal" data-target="#deletePareant" style="text-decoration: none; " class="deletePareantCategory" alt="@element.Name">    <i class="fa fa-trash-o"></i>   </a></h3>
                                    <ul style="list-style-type:none;">
                                        @foreach (var item in element.Child)
                                        {
                                            <li>
                                                <a data-toggle="modal" data-target="#deleteChild" style="text-decoration: none; " class="deleteChildCategory" alt="@element.Name" title="@item.Name">    <i class="fa fa-trash-o"></i>   </a>     <a data-toggle="modal" data-target="#changeNameChild" style="text-decoration: none; " class="changeNameChildCategory" alt="@element.Name" title="@item.Name"> <i class="fa fa-cogs" title="Редактировать категорию"></i>       @item.Name  </a>
</li>                                           
                                        }
                                       
                                   <shadow><a data-toggle="modal" data-target="#addChildModal" style="text-decoration: none; " class="addChildeNamePearant" alt="@element.Name"> <i class="fa fa-plus"></i> Добавить  категорию </a></shadow>
                                    </ul>
                                </li>
                            }
                            <li><a data-toggle="modal" data-target="#addPareantModal" style="text-decoration: none;" ><h3> <i class="fa fa-plus"></i> Добавить категорию </h3> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Начало скрытых модальных окон-->
@Html.Partial("ModalWindow")
<!-- Конец скрытых модальных окон-->





    <script>
        $(document).ready(function () {
            var changeNamePareant;
            var changeNameChildCategoryNamePareant;
            var changeNameChildCategoryNameChild;
            var addChildNamePareant;
            var deleteChildCategory;
            var deleteChildCategoryNamePareant;
            var deleteChildCategoryNameChild;
            var deletePareantCategoryName;
            $('.changeNamePareant').click(function () {
                changeNamePareant = $(this).attr("alt");
            });
            $('#addPareantCategory').click(function () {
                var formData = new FormData();
                var value = document.getElementById("inputName").value;
                formData.append("name", value);
                $.ajax({
                    url: 'Categories/AddMainCategory',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        updateCategory();
                    }
                });
            });
            $('.addChildeNamePearant').click(function () {
                addChildNamePareant =  $(this).attr('alt');
            });
            $('#addChildCategory').click(function () {
                var formData = new FormData();
                var valueChild = document.getElementById("nameChildCategory").value;
                formData.append("namePareantCategory", addChildNamePareant);
                formData.append("nameChild", valueChild);
                $.ajax({
                    url: 'Categories/AddChildCategory',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        updateCategory();
                    }
                });

            });
            $('.deletePareantCategory').click(function () {
                deletePareantCategoryName = $(this).attr('alt');
            });
            $('#deletePareantSave').click(function () {
                var formData = new FormData();   
                formData.append("name", deletePareantCategoryName);

                $.ajax({
                    url: 'Categories/DeletePareant',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        updateCategory();
                    }
                });

            });
            $('.deleteChildCategory').click(function () {
                deleteChildCategoryNamePareant = $(this).attr('alt');
                deleteChildCategoryNameChild = $(this).attr('title');
            });
            $('#deleteChildSave').click(function () {
                var formDataDelete = new FormData();
                formDataDelete.append("NameChild", deleteChildCategoryNameChild);
                formDataDelete.append("NamePareant", deleteChildCategoryNamePareant);
                $.ajax({
                    url: 'Categories/DeleteChild',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formDataDelete,
                    success: function (data) {
                        console.log(data);
                        updateCategory();
                    }
                });

            });
          
            $('#ChangeNamePareantSave').click(function () {
                var formData = new FormData();
                var valueInputPareant = document.getElementById("NewNamePareantCategory").value;
                formData.append("namePareant", changeNamePareant);
                formData.append("newName", valueInputPareant);
                $.ajax({
                    url: 'Categories/ChangeNamePareant',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        updateCategory();
                    }
                });
            });
            $('.changeNameChildCategory').click(function () {
                changeNameChildCategory = $(this).attr("alt");
                changeNameChildCategoryNameChild = $(this).attr("title");
            });
            $('#changeNameChildSave').click(function () {
                var formDataDelete = new FormData();
                var valueInputName = document.getElementById("NewNameChildCategory").value;
                formDataDelete.append("childName", changeNameChildCategoryNameChild);
                formDataDelete.append("namePareant", changeNameChildCategory);
                formDataDelete.append("newName", valueInputName);
                $.ajax({
                    url: 'Categories/ChangeNameChild',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: formDataDelete,
                    success: function (data) {
                        console.log(data);
                        updateCategory();
                    }
                });

            });

            function updateCategory() {
                $('#PanelCategory').load("@Url.Action("AjaxCategories","Categories")");
            };
        });
    </script>
    
