@using DataModel.Models;
@model IEnumerable<Post>
@{
    ViewBag.Title = "Поиск по категориям";
}


@foreach (var item in Model)
{
    <article class="clearfix  post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized tag-sticky-2 tag-template">
        <header class="entry-header">
            <h3 class="site-title"><a href="#" rel="bookmark">@item.NamePost</a></h3>

            <div class="entry-meta">
                <span class="posted-on"><a href="#" rel="bookmark"><time class="entry-date published updated">@item.dateAddPost</time></a></span><span class="byline"><span class="author vcard"><a class="url fn n" href="#">@item.Author</a></span></span>
                <!-- .entry-meta -->
            </div>
            <!-- .entry-header -->
        </header>

        <div class="entry-thumbnail">
            <a href="http://demo.athemes.com/fashionista/2012/01/template-sticky" title="Template: Sticky">
                <img width="600" height="270" src="~/img/@item.PostID/@item.upload" alt="@item.NamePost" title="@item.NamePost" class="attachment-thumb-featured size-thumb-featured wp-post-image">
            </a>
        </div>


        <div class="entry-summary">
            <p>@item.contentPost</p>
            <!-- .entry-summary -->
        </div>
        <a href="http://demo.athemes.com/fashionista/2012/01/template-sticky" class="more-link">Continue Reading <span class="meta-nav">→</span></a>
        <footer class="entry-meta entry-footer">
            <span class="cat-links">
                <i class="ico-folder"></i> <a href="#" rel="category tag">@item.selectedCategory</a>
            </span>

            <span class="tags-links">
                <i class="ico-tags"></i>@{ PostDataStorage.collectionsTags = PostDataStorage.Storage.TagsSplit(item);}
                @foreach (string tag in PostDataStorage.collectionsTags)
                {
                    <a class="btn btn-default btn-sm" href="@Url.Action("Tag","Home", new { tags = tag })">
                        @tag
                    </a>
                }
            </span>
            <!-- .entry-meta -->
        </footer>
        <!-- #post-1241-->
    </article>
                    }