
@model IEnumerable<IServices.Models.Post.ModelPostPreview>
@{
    ViewBag.Title = "Главная";
}
@foreach(var post in Model){
    <article class="clearfix  post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized tag-sticky-2 tag-template">
        <header class="entry-header">
            <h3 class="site-title"><a href="@Url.Action("Post","Home", new { id = post.PostID })" rel="bookmark">@post.NamePost</a></h3>

            <div class="entry-meta">
                <span class="posted-on"><a ><time class="entry-date published updated">@post.dateAddPost.ToLongDateString()</time></a></span><span class="byline"><span class="author vcard"><a>@post.Author</a></span></span>
                <!-- .entry-meta -->
            </div>
            <!-- .entry-header -->
        </header>

        <div class="entry-thumbnail" align="center">
            <a href="@Url.Action("Post","Home", new { id = post.PostID })" title="Template: Sticky">
                @if (post.upload != null) { 
                <img width="540" height="270" src="~/img/@post.PostID/Preview/@post.upload" alt="@post.NamePost" title="@post.NamePost"  class="attachment-thumb-featured size-thumb-featured wp-post-image">}            </a>
        </div>


        <div class="entry-summary">
          <p>@post.Description</p>
            <!-- .entry-summary -->
        </div>
        <a href="@Url.Action("Post","Home", new { id = post.PostID })" class="more-link">Читать продолжение<span class="meta-nav">→</span></a>
        <footer class="entry-meta entry-footer">
            <span class="cat-links">
                <i class="ico-folder"></i><a class="btn btn-default btn-sm" href="@Url.Action("Category","Home", new { category = post.selectedCategory.Name})">
   
                  @post.selectedCategory.Name
              
    </a>
            </span>

            <span class="tags-links">
                <i class="ico-tags"></i>@*@{ Services.PostServices.collectionsTags = Services.PostServices.TagsSplit(item);}
                @foreach (string tag in Services.PostServices.collectionsTags)
                {
                    <a class="btn btn-default btn-sm" href="@Url.Action("Tag","Home", new { tags = tag })">
                        @tag
                    </a>
                }*@
            </span>
            <!-- .entry-meta -->
        </footer>
        <!-- #post-1241-->
    </article>
}
