@model IServices.Models.Post.ModelPost
@{
    ViewBag.Title = "Post";
}

<div id="content" class="sidebar_right">
    <div class="inner">
        <div class="block_general_title_2">
            <h1>@Model.NamePost</h1>
            <h2><a href="@Url.Action("Category","Home",new {category=Model.CategoryId })" class="tags">@Model.Category.Name</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="author">by <a href="#">@Model.User[0].UserName</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="date">@Model.dateAddPost.ToShortDateString()</span></h2>
            <div class="stats">
                <a id="GetLikes"> <div class="likes">@Model.CountLike</div></a>
                <div class="comments">7</div>
            </div>
        </div>
      
        <div class="main_content">
            <div class="block_content" style="overflow-x:hidden;">
                
               @Html.Raw(Model.contentPost)
                <div class="line_1"></div>
            </div>

            <div class="block_info_1 type_1">
                <div class="tags">
                    <div class="title"><span>Тэги</span></div>

                    <ul>
                        @foreach (var tag in Model.CollectionTags)
                        {
                        <li><a href="@Url.Action("Tag","Home",new { tags=tag})">@tag</a></li>
                        }
                    </ul>
                </div>
               
                <div class="rating "  style="float:none;">
                    <div class="title"><span>Рейтинг</span></div>

                    <div class="text">
                        <div class="num">@Model.CountViews</div>
                        <div class="type"><h6>Просмотров</h6></div>
                    </div>

                    <div class="text">
                        <div class="num">26</div>
                        <div class="type"><h6>Комментарий</h6></div>
                    </div>

                    <div class="line"></div>
                </div>

        

            </div>

           
            <div class="line_1"></div>

           

            <div class="block_comments_1" id="Comments">
                
            </div>
            @if (User.IsAuth)
            {
            <div class="block_leave_comment_1 type_1">
                <h3 style="text-align:center;">Оставить комментарий</h3>

                <div class="form">
                    <form method="post" action="AddComment">
                        <div class="oh">
                            <div class="textarea"><textarea name="ContentComment" class="w_focus_mark" cols="1" rows="1" id="ContentComment"></textarea></div>
                            <div class="button" id="AddComment"><a class="general_button_type_3 submit">Введите ваш комментарий</a></div>
                            <input type="hidden" id="User" value="@User.Id" />
                            <input type="hidden" id="PostId" value="@Model.PostID" />
                        </div>
                    </form>
                </div>
            </div>
            }
            else
            { 
                <div class="block_leave_comment_1 type_1" align="center">
            <h3>Чтобы оставить комментарий необходимо <a href="@Url.Action("Login","Account")"><b>АВТОРИЗОВАТЬСЯ</b></a></h3> </div>}
        </div>
            @Html.Action("SideBar", "Home")
            <div class="clearboth"></div>
        </div>
</div>

    <script>
        $(document).ready(function () {
            $('#Comments').load("@Url.Action("AjaxComment", "Home",new {id=Model.PostID })");


            $('#GetLikes').click(function () {
                if ("@User.IsAuth" =="False") {
                    alert("Необходимо авторизоваться")
                }
                else{
                    var formData = new FormData();
                    formData.append("PostId", @Model.PostID);
                    formData.append("UserID", @User.Id);      
                    $.ajax({
                        url: '/Home/GetLike',
                        type: 'post',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (data) {
                            console.log(data); 
                        }
                    });      
                  }
            });
            $('#AddComment').click(function () { 
                var data = new FormData();
                data.append("ContentComment",$('#ContentComment').val());
                data.append("UserId", $("#User").val());
                data.append("PostId",$('#PostId').val());
                $.ajax({
                    url: '/Home/AddComment',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                    }
                });
            });

            });
    </script>
    
    
   
