@model IServices.Models.Post.ModelPost
@{
    ViewBag.Title = "Post";
}

<div id="content" class="sidebar_right">
    <div class="inner">
        <div class="block_general_title_2">
            <h1>@Model.NamePost</h1>
            <h2><a href="@Url.Action("Category","Home",new {category=Model.CategoryId })" class="tags">@Model.Category.Name</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="author">by <a href="#">@Model.Author</a></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="date">@Model.dateAddPost.ToShortDateString()</span></h2>
            <div class="stats">
                <a id="GetLikes"> <div class="likes">@Model.CountLike</div></a>
                <div class="comments">7</div>
            </div>
        </div>
      
        <div class="main_content">
            <div class="block_content" style="overflow-x:hidden;">
                
               @Html.Raw(Model.contentPost)
                <div class="line_1"></div>
            </div>

            <div class="block_info_1 type_1">
                <div class="tags">
                    <div class="title"><span>Tags Cloud</span></div>

                    <ul>
                        <li><a href="#">Peoples</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Clear</a></li>
                    </ul>
                </div>
               
                <div class="rating "  style="float:none;">
                    <div class="title"><span>Рейтинг</span></div>

                    <div class="text">
                        <div class="num">@Model.CountViews</div>
                        <div class="type"><h6>Просмотров</h6></div>
                    </div>

                    <div class="text">
                        <div class="num">26</div>
                        <div class="type"><h6>Комментарий</h6></div>
                    </div>

                    <div class="line"></div>
                </div>

        

            </div>

           
            <div class="line_1"></div>

           

            <div class="block_comments_1">
                <h3>Comments <span>26</span></h3>

                <div class="comments">
                    <div class="comment">
                        <div class="inside">
                            <div class="avatar"><a href="#"><img src="images/ava_default_1.jpg" alt=""></a></div>
                            <div class="content">
                                <div class="author"><a href="#">Rojer Moor</a></div>
                                <div class="info">Sept 24, 2013<a href="#">REPLY</a></div>
                                <div class="text">
                                    <p>Natus sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis.</p>
                                </div>
                            </div>

                            <div class="clearboth"></div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="inside">
                            <div class="avatar"><a href="#"><img src="images/ava_default_1.jpg" alt=""></a></div>
                            <div class="content">
                                <div class="author"><a href="#">Simon Fowler</a></div>
                                <div class="info">Sept 24, 2013<a href="#">REPLY</a></div>
                                <div class="text">
                                    <p>Accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis et quasiarc.</p>
                                </div>
                            </div>

                            <div class="clearboth"></div>
                        </div>

                        <div class="comment">
                            <div class="inside">
                                <div class="avatar"><a href="#"><img src="images/ava_1.jpg" alt=""></a></div>
                                <div class="content">
                                    <div class="author"><a href="#">Admin</a></div>
                                    <div class="info">Sept 24, 2013<a href="#">REPLY</a></div>
                                    <div class="text">
                                        <p>Dolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis et quasiarchitecto.</p>
                                    </div>
                                </div>

                                <div class="clearboth"></div>
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="inside">
                            <div class="avatar"><a href="#"><img src="images/ava_default_1.jpg" alt=""></a></div>
                            <div class="content">
                                <div class="author"><a href="#">Ronald King</a></div>
                                <div class="info">Sept 24, 2013<a href="#">REPLY</a></div>
                                <div class="text">
                                    <p>Qolore laudantium, totam rem aperiam, eaque ipsa quae.  Ab illo inventore veritatis et quasiarchitecto beatae vitae.</p>
                                </div>
                            </div>

                            <div class="clearboth"></div>
                        </div>
                    </div>

                    <div class="comment last_comment">
                        <div class="inside">
                            <div class="avatar"><a href="#"><img src="images/ava_default_1.jpg" alt=""></a></div>
                            <div class="content">
                                <div class="author"><a href="#">Sandra Downing</a></div>
                                <div class="info">Sept 24, 2013<a href="#">REPLY</a></div>
                                <div class="text">
                                    <p>Ratus sit voluptatem accusantium dolore laudantium, totam rem aperiam, eaque ipsa quae.</p>
                                </div>
                            </div>

                            <div class="clearboth"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="block_leave_comment_1 type_1">
                <h3>Live a comment</h3>

                <div class="form">
                    <form action="#">
                        <div class="fields">
                            <div class="label">Name <span>*</span></div>
                            <div class="field"><input type="text" name="name" class="w_focus_mark required"></div>

                            <div class="label">E-mail <span>*</span></div>
                            <div class="field"><input type="text" name="email" class="w_focus_mark required"></div>

                            <div class="label">Subject</div>
                            <div class="field"><input type="text" name="subject" class="w_focus_mark"></div>
                        </div>

                        <div class="oh">
                            <div class="label">Message <span>*</span></div>
                            <div class="textarea"><textarea name="message" class="w_focus_mark" cols="1" rows="1"></textarea></div>

                            <div class="button"><a href="#" class="general_button_type_3 submit">Submit Your Comment</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        @Html.Action("SideBar", "Home")

        <div class="clearboth"></div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            $('#GetLikes').click(function () {
                if ("@User.IsAuth" =="False") {
                    alert("Необходимо авторизоваться")
                }
                else{
                    var formData = new FormData();
                    formData.append("PostId", @Model.PostID);
                    formData.append("UserID", @User.Id);
                    $.ajax({
                        url: '/Home/GetLike',
                        type: 'post',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (data) {
                            console.log(data); 
                        }
                    });      
                  }
                });
            });
    </script>
    
    
   
