
<!DOCTYPE html>
<html>

<head>
 
    

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="layout/plugins/html5.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/site")


</head>

<body class="sticky_footer">
    <div class="wrapper">
        <!-- HEADER BEGIN -->
        <header>
            <div id="header">
                <section class="top">
                    <div class="inner">
                        <div class="block_top_menu">
                            <nav>
                                <ul>
                                    <li class="current_page_item">
                                        <a href="@Url.Action("Index","Home")">Главная</a>
                                    </li>
                                    <li>
                                      @Html.ActionLink("Контакты", "Contact", "Home")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Личный кабинет", "Cabinet", "Home")
                                    </li>
                         
                                    </ul>
                       
                            </nav>
                         
                        </div>

                        @Html.Partial("_LoginPartial")
                 

                        <div class="clearboth"></div>
                    </div>
                </section>

                <section class="middle">
                    <div class="inner">
                        <div id="logo_top"><a href="@Url.Action("Index","Home")"><img src="~/Content/images/Logo.png" alt="Enterprise" title="Enterprise"></a></div>
                    </div>
                </section>
               
                <section class="bottom">

                    <div class="inner" align="center">

                        <div class="line_1" style="margin-bottom:20px;"></div>

                        @Html.Action("Categories", "Home")
                        <div class="line_1"></div>  
                    </div>
                </section>
                <br>
            </div>
        </header>
       
        <!-- HEADER END -->
        <!-- CONTENT BEGIN -->
      @RenderBody()
        <!-- FOOTER BEGIN -->
        <footer>
            <div id="footer" class="col-md-12">
                <section class="top">
                    <div class="inner">
                        <div class="block_footer_widgets " >
                          

                            <div class="column  col-md-offset-4 ">
                                <div class="block_footer_tags">
                                    <h3>Tags cloud</h3>

                                    <ul>
                                        <li><a href="#">Peoples</a></li>
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Music</a></li>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">Apple</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Development</a></li>
                                    </ul>
                                </div>

                               
                            </div>

                           
                    </div>
                        </div>
                </section>

              
                <section class="bottom">
                    <div class="inner">
                        <div class="block_copyrights"><p>&copy; TirScript 2017-2018.</p></div>
                    </div>
                </section>
            </div>
        </footer>
        <!-- FOOTER END -->
    </div>
  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>