@model IEnumerable<IServices.Models.Post.ModelPost>
@{
    Layout = null;
}

<aside>
    <div class="sidebar_title_1" style="font-weight:bold;">Популярные посты</div>

    <div class="block_sidebar_popular_posts">
     
   @foreach (var lastPost in Model)
   {
        <article>
            <div class="image"><a href="@Url.Action("Post","Home", new { id = lastPost.PostID })"><img src="~/img/@lastPost.PostID/Preview/@lastPost.upload" alt="@lastPost.NamePost" width="86" height="66"></a></div>

            <div class="content">
                <div class="title">
                    <a href="@Url.Action("Post","Home", new { id = lastPost.PostID })">@lastPost.Description</a>
                </div>

                <div class="info">
                    <div class="tags"> <a href="@Url.Action("Post","Home", new { id = lastPost.PostID })">@lastPost.NamePost</a>, <a href="@Url.Action("Category","Home", new { category = lastPost.CategoryId })">@lastPost.Category.Name</a></div>
                    <div class="date">27, 2013</div>
                </div>
            </div>
        </article>
   }
    </div>
</aside>